/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: 'Nunito', Helvetica, sans-serif;
  color: #4c4c4c;
  line-height: 1.5;
}
body::before {
  background: url(img/top-background.svg);
  content: "";
  display: block;
  height: 290px;
  position: absolute;
  width: 100%;
  margin-top: -40px;
  z-index: -554433;
}
h1 {
  padding: 24px 0 24px 0px;
}
@media all and (max-width: 449px) {
  h1 {
    padding: 16px 0 16px 0px;
  }
}
h1 > div {
  margin-top: 12px;
  padding-top: 8px;
}
h1,
h2 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}
@media all and (min-width: 449px) {
  h1,
  h2 {
    font-size: 24px;
  }
}
h3 {
  font-size: 18px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.underline {
  text-decoration: underline;
}
.red {
  color: #006cf3;
  fill: #006cf3;
}
.wrapper {
  max-width: 1008px;
  padding: 0 24px;
  margin: auto;
}
@media all and (max-width: 449px) {
  .wrapper {
    padding: 0 16px;
  }
}
header#main-header {
  margin: 40px 0;
  position: relative;
  height: 250px;
  border-bottom: solid 4px #006cf3;
}
header#main-header .box {
  border: 2px solid #006cf3;
  position: absolute;
  width: 65%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media all and (max-width: 449px) {
  header#main-header .box {
    width: 75%;
  }
}
.social-icons {
  padding: 40px 0;
}
.social-icons svg {
  fill: #006cf3;
  margin-right: 16px;
  margin-bottom: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.projects {
  width: 100%;
  margin-bottom: 72px;
}
.projects h2 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}
.projects header {
  padding-bottom: 24px;
}
.projects header p {
  padding-top: 15px;
  max-width: 280px;
}
.projects header .header-link {
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media all and (max-width: 799px) {
  .projects header .header-link {
    width: 65%;
  }
}
@media all and (max-width: 449px) {
  .projects header .header-link {
    width: 75%;
  }
}
.projects header .header-link a:hover {
  text-decoration: none;
}
.projects svg {
  vertical-align: middle;
  flex: 0 0 auto;
}
.projects ul.flex-4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}
@media all and (max-width: 449px) {
  .projects ul.flex-4 {
    margin: 0 -10px;
  }
}
.projects ul.flex-4 li {
  width: 25%;
  flex: 0 1 auto;
  padding: 0 16px;
  margin-bottom: 12px;
}
@media all and (max-width: 799px) {
  .projects ul.flex-4 li {
    width: 50%;
  }
}
@media all and (max-width: 449px) {
  .projects ul.flex-4 li {
    padding: 0 10px;
  }
}
.projects ul.flex-4 h3 {
  height: 54px;
  overflow: hidden;
}
.projects ul .image-container {
  background: #999;
  margin-bottom: 12px;
  position: relative;
  padding-bottom: 78%;
  overflow: hidden;
}
.projects ul .image-container img {
  position: absolute;
  width: 100%;
  transition: all .2s;
}
.projects ul.placeholder li {
  flex-wrap: wrap;
}
.projects ul.placeholder .image-container {
  padding-bottom: 78%;
}
.projects ul.placeholder .image-container,
.projects ul.placeholder .text-block {
  animation: pulse 1.5s infinite;
}
.projects ul.dribbble .image-container {
  padding-bottom: 75%;
}
.projects ul.ng-hide {
  display: none;
}
.projects.dribbble .image-container {
  padding-bottom: 75%;
}
.projects.medium li,
.projects.accomplishments li {
  margin-bottom: 16px;
  display: flex;
}
.projects.medium li svg,
.projects.accomplishments li svg {
  margin-right: 10px;
  min-width: 24px;
}
.projects.experience h3 {
  font-weight: 600;
}
.projects.experience li {
  margin-bottom: 16px;
}
.projects.half {
  width: 50%;
  flex: 1 0 auto;
}
.projects.half:first-of-type {
  padding-right: 16px;
}
.projects.half:last-of-type {
  padding-left: 16px;
}
.projects.half header {
  width: 65%;
}
@media all and (max-width: 449px) {
  .projects.half header {
    width: 75%;
  }
}
@media all and (max-width: 799px) {
  .projects.half {
    width: 100%;
  }
  .projects.half:first-of-type,
  .projects.half:last-of-type {
    padding: 0;
  }
}
footer {
  border-top: solid 4px #006cf3;
  padding: 40px 0px;
}
footer p {
  max-width: 280px;
  padding-top: 15px;
}
footer::before {
  background: url(img/bottom-background.svg);
  content: "";
  display: block;
  height: 302px;
  position: absolute;
  width: 100%;
  margin-top: -40px;
  z-index: -554433;
}
.text-block {
  height: 12px;
  background: #999;
  margin: 6px 0 12px;
  width: 100%;
}
.text-block.short {
  width: 75%;
}
.screen-reader {
  position: absolute;
  text-indent: -9999px;
}
@keyframes pulse {
  0% {
    background: #ddd;
  }
  50% {
    background: #bbb;
  }
  100% {
    background: #ddd;
  }
}
